@charset "utf-8";
* {
 box-sizing: border-box;
}
*:before,
*:after {
 box-sizing: border-box;
}


/* BODY */
html,body {
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
	height: 100%;
}
.mainContainer {
	min-height: 100%;
	position: relative;
}

/*MAIN CONTAINER*/
.pageBody {
	padding-bottom: 300px;
	position: relative;
	z-index: 0;
}

/* HEADER */
header {
	width: 100%;
	background-color: #000000;
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
/* HEADER BRAND */
.headerBrand {
	display: inline-flex;
	width: auto;
	height: 50px;
	margin: 5px 0px 0px 20px;
	align-items: center;
}
.caltechLogo {
	width: 100px;
	height: 30px;
	background: url("../images/caltech.png") no-repeat;
	background-size: 100%;
	background-position: center;
}
.separator {
	margin: 0 15px;
    height: 35px;
    border-right: 2px solid #ffffff;
}
.siteTitle {
	font-size: 140%;
	line-height: 0.9;
	text-decoration: none;
	color: #ffffff;
}

/* HEADER NAVIGATION*/
nav {
	margin: 5px 20px 5px 0px;
}
nav a {
	float: left;
	color: #FFFFFF;
	padding: 15px 20px;
	text-decoration: none;
	font-weight: 600;
	border: thin;
	border-color: aqua;
}
.dropDown {
	float: left;
}
.dropDown .dropButton {
	font-size: 100%;
	font-weight: 600;
	border: none;
	outline: none;
	color: #FFFFFF;
	padding: 15px 20px;
	background-color: black;
	font-family: inherit;
}
.dropContent {
	display: none;
	position: absolute;
	background-color: #333333;
	min-width: 140px;
	box-shadow: 0px 8px 15px 0px rgba(0,0,0,0.2);
	z-index: 2;
}
.dropContent a {
	float: none;
	color: #ffffff;
	padding: 10px 25px;
	text-decoration: none;
	display: block;
	text-align: left;
}
nav a:hover, .dropDown:hover .dropButton {
	background-color: #333333;
}
.dropContent a:hover {
	background-color: #191919;
}
.dropDown:hover .dropContent {
	display: block;
}


/* FOOTER */
footer {
	position: absolute;
	bottom: 0;
	height: 140px;
	width: 100%;
	background-color: #000000;
}
.footerLogo {
	position: absolute;
	top: 0;
	left: 50%;
	width: 100px;
	height: 104%;
	transform: translate(-50%, -90px);
	background: url("../images/logo.png") no-repeat;
	background-size: 100%;
	z-index: 1;
}
.footerWrapper {
	padding-top: 60px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin: 0 20px 20px 20px;
	align-items: flex-end;
}
.footerLeft {
	text-align: left;
	flex-shrink: 1;
	flex-basis: 33%;
}
.footerTitle {
	font-size: 100%;
	padding-top: 5px;
	line-height: 0.9;
	text-decoration: none;
	color: #ffffff;
}
.footerRight {
	text-align: right;
	flex-shrink: 1;
	flex-basis: 33%;
}
.followTag {
	font-size: 100%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	line-height: 0.9;
	text-decoration: none;
	color: #dddddd;
}
.twitterIcon {
	float: right;
	padding-top: 10px;
	width: 30px;
	height: 30px;
	background: url("../images/twitter.png") no-repeat;
	background-size: 100%;
	background-position: center;
}
.footerMenu {
	text-align: center;
	flex-shrink: 1;
	flex-basis: 33%;
}
.footerLink {
	font-size: 80%;
	padding-top: 5px;
	line-height: 0.9;
	text-decoration: none;
	color: #757575;
}


/* MOBILE */
@media (max-width: 770px){
header {
	flex-flow: column wrap;
	justify-content: space-between;
}.headerBrand {
	margin: 5px auto 0px auto;
	align-items: center;
}
nav {
	margin: 5px auto 5px auto;
	align-items: center;
	
	display: flex;
	flex-flow: column wrap;
	width: 100%;
}
nav a {
	float: none;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-weight: 600;
}
.dropDown {
	width: 100%;
}
.dropDown .dropButton {
	width: 100%;
}
.dropContent {
	width: 100%;
	left: 50%;
	transform: translate(-50%);
}
.dropContent a {
	width: 100%;
	text-align: center;
}
.pageBody {
	padding-bottom: 470px;
}
footer {
	height: 320px;
}
.footerWrapper {
	flex-flow: column wrap;
	margin: 0 20px 20px 20px;
	align-items: center;
}
.footerLeft {
	width: 100%;
	text-align: center;
}
.caltechLogoFoot {
	position: relative;
	float: none;
	left: 50%;
	transform: translate(-50%)
}
.footerMenu {
	width: 100%;
	text-align: center;
	margin-top: 50px;
	order: 3;
}
.footerRight {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}
.twitterIcon {
	position: relative;
	float: none;
	left: 50%;
	transform: translate(-50%)
}
}
